#social-icons {
    color: #5affe7;
    margin: 5px;
    height: 16px;
    width: 16px;
}

.social {
    margin-top: 5vh;
    margin-left: 10vw;
}

.leftimg {
    height: 110vh;
    width: 50vw;
    left: 0;
    position: fixed;
}


.profilepic {
    float: left;
    position: absolute;
    margin-top: 57vh;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 430px;
    z-index: 3;
    border-radius: 20px;
}

.right {
    float: right;
    width: 50vw;
    z-index: 3;
    height: 100%;
    left: 10%;
    margin-top: 25vh;
    margin-right: 0;
    margin-left: 50%;
    text-align: left;
    right: 0px;
    position: relative;
    color: #5affe7;
}

#right-intro h1 {
    font-family: 'Candara';
    font-size: 60px;
    line-height: 1.1;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-fwd 2s forwards ease-out;
}

@keyframes typing-fwd {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#right-bio p {
    font-family: 'Geneva';
    font-size: 28px;
    font-weight: 100;
    line-height: 1.2;
    animation: fade-up 3s forwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


#buttons a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    height: 50px;
    width: 30vw;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    animation: right-slide 4s forwards;
}

@keyframes right-slide {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#buttons a:hover {
    background-color: black;
    color: #08c6ab;
}
.social{
    animation: fade-up 1s ease-out forwards;
}